.statistics {
  width: 90%;
  color: #000;
  padding: 25px;
}

.statistics h1 {
  font-family: Montserrat;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}

.statistics .Course-statistics-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.statistics .Course-statistics-contents .engagement-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics .Course-statistics-contents .verification-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

