.title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 245px;
  width: fit-content;
  border-radius: 20px;
  background: #d5e4f6;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
}
